:root {
    --primary-color: #f7f7f7; /* Azul Chrome */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: rgb(142, 23, 23); /* Cambia el color del texto para contraste */
}

header {
    background: var(--primary-color);
    color: rgb(78, 64, 183);
    padding: 1rem;
}

/* Layout con Grid */
main {
    display: grid;
    min-height: 80vh;
    place-items: center;
}

/* Optimización para Chrome */
@media (-webkit-optimize-contrast) {
    img {
        image-rendering: -webkit-optimize-contrast;
    }
}